{% extends 'base.html' %}

{% block content %}
    <h1>Sign Up</h1>

    {% if error %}
        {{ error }}
    {% endif %}
    <hr/>

    <form method="POST" action="{% url 'accounts:signup' %}">
        {% csrf_token %}


        <br/>
        User Name :
        <br/>

        <input type="text" name="username"/>
        <br/>
        Password:
        <br/>
        <input type="password" name="password"/>
        <br/>
        Confirmate Password:
        <br/>
        <input type="password" name="confirmation_password"/>
        <br/>
        <hr/>
        <input class="btn btn-primary" type="submit" value="Sign Me Up!">

    </form>

{% endblock %}