<h1>This is Pig Latin Translator About page.</h1>

<a href="https://en.wikipedia.org/wiki/Pig_Latin">Pig Latin Wikipedia</a>

<h2>Rules</h2>

For words that begin with consonant sounds, all letters before the initial vowel are placed at the end of the word sequence. Then, "ay" is added, as in the following examples:
<li>"pig" = "igpay"</li>
<li>"latin" = "atinlay"</li>
<li>"banana" = "ananabay"</li>

<br>
<br>
When words begin with consonant clusters (multiple consonants that form one sound), the whole sound is added to the end when speaking or writing.

<li>"cheers" = "eerschay"</li>
<li>"shesh" = "eshshay"</li>

<br>
<br>
An alternative convention for words beginning with vowel sounds, one removes the initial vowel(s) along with the first consonant or consonant cluster. This usually only works for words with more than one syllable and offers a more unique variant of the words in keeping with the mysterious, unrecognizable sounds of the converted words. Examples are:

<li>"every" = "eryevay"</li>
<li>"omelet" = "eletomay"</li>

<br>
<br>

<a href="{% url 'index' %}">Back</a>